.top{
    background-color: gray;
    margin:10px;

}
.text{
    color:aliceblue;
    text-align: center;
}
.text2{
    color:aliceblue;
    text-align: center;
}

.start{
    text-align: center;
}