.top{
    background-color:pink;
    font-size:20px;
    border-bottom:3px solid blue ;
  }

.box{
    list-style: none;
    color:blue;
}
  
  a{
    text-decoration: none;
  }

  @media screen and (min-width: 700px) {
  .list_box{
    display: flex;
    width:700px;
    margin:0 auto;
  }
  
  .list{
    color:blue;
    margin:20px;

    height:30px;
    line-height:30px;
    
  }}
  
  @media screen and (max-width: 700px) {
    .list_box{
      display: flex;
      width:300px;
      margin:0 auto;
    }
    
    .list{
        color:blue;
      margin:20px;
      
    }}
  
/*  */

.over_text{
    font-size: 20px;
    text-align:center;
    line-height: 40px;
}
/*  */


.story{
    font-size:40px;
    line-height: 60px;
    text-align: center;
    color:rgb(228, 173, 182);
    background-color: fuchsia;
    border-bottom:3px solid blue;
}

.text_top{
    background-color: pink;
    padding-top:60px;
}

.text{
    
    text-align: center;
    /* width:600px; */
    /* margin:0 auto; */
    font-size:20px;
    line-height:50px;
    color:rgb(252, 210, 217);
    font-weight:800;
}

.text1{
    padding-top:20px;
}

/*  */

@media screen and (min-width: 300px) {
table {
    line-height:50px;
    border-collapse: collapse;
    width:300px;
    margin:0 auto;
  
  }
  table th, table td {
    text-align:center;
    border: solid 2px black;
    font-size:14px;
    /*実線 1px 黒*/
  }}


 @media screen and (max-width: 300px) {
  table {
    line-height:50px;
    border-collapse: collapse;
    width:500px;
    margin:0 auto;
  
  }
  table th, table td {
    text-align:center;
    border: solid 2px black;
    font-size:18px;
    /*実線 1px 黒*/
  }}
