.top{
    background-color:pink;
    font-size:20px;
    border-bottom:3px solid blue ;
  }

.box{
    list-style: none;
    color:blue;
}
  
  a{
    text-decoration: none;
  }
  @media screen and (min-width: 700px) {
  .list_box{
    display: flex;
    width:700px;
    margin:0 auto;
  }
  
  .list{
    color:blue;
    margin:20px;

    height:30px;
    line-height:30px;
    
  }}
  
  @media screen and (max-width: 700px) {
    .list_box{
      display: flex;
      width:300px;
      margin:0 auto;
    }
    
    .list{
        color:blue;
      margin:20px;
      
    }}
  
  


.story{
    font-size:40px;
    line-height: 60px;
    text-align: center;
    color:rgb(228, 173, 182);
    background-color: fuchsia;
    border-bottom:3px solid blue;
}

.text_top{
    background-color: fuchsia;
}

.text{
    
    text-align: center;
    /* width:600px; */
    /* margin:0 auto; */
    font-size:20px;
    line-height:50px;
    color:rgb(252, 210, 217);
    font-weight:800;
}

.text1{
    padding-top:20px;
}
.text2{
    padding-top:20px;
}
.text3{
    padding-top:20px;
}

.text4{
    padding-top:20px;
}

.text5{
  padding-top:50px;
  background-color:pink;
}
.text6{
  color:fuchsia;
}