body{
    background-color:rgb(194, 192, 192);
    
}

.top{

    width:100%;

    text-align: center;
    background-color:black;
    line-height:50px;
    font-weight:900;
    font-size:30px;
    color: red;
  -webkit-text-stroke: 1px #FFF;
  text-stroke: 1px #FFF;
}

.ama{
  font-size:30px;
}

.zawa{
    font-size:20px;
    font-weight:900;
    margin-right:500px;
}
.zawa2{
    font-size:20px;
    font-weight:900;
    margin-left:100px;
}



table {
    border-collapse: collapse;
    text-align: center;
   
    width:350px;
    margin:0 auto;

    background-color: aliceblue;
  }
  table th, table td{
    border: solid 2px black;
    /*実線 1px 黒*/
    line-height: 20px;
  }

  .pokemon{
    line-height:30px;
  }
 
  .text{
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    line-height: 40px;
  }
  .text3{
    background-color: black;
    color:white;
  }

  .rule{
    width:350px;
    margin:0 auto;
    line-height: 20px;

  }
  .rule1{
    
    width:350px;
    background-color: aliceblue;
    border-top:2px solid black;
    border-bottom:2px solid black;
  }

  .back{
    padding-top:30px;
    font-size:20px;
    text-align: center;
}

a{
    text-decoration:none;

}

.pokemon{
    font-weight:700;
}
