.top{
    background-color: gainsboro;
   
}

.text{
padding:15px;
    line-height:27px;
}
.top2{
    padding-top:70px;
}

.next{
    text-align: center;
    padding:10px;
}

.top img{
    width: 350px;
    height:300;
    display: block;
    margin: auto;
}

.twitter{
    width: 3px;
    height:30px;
}

.top img{
    width: 300px;
    height:300px;
}

.next{
    background-color:gainsboro;
   font-size:20px;
}

.black{
    font-size: 25px;
    background-color:black;
    color:whitesmoke
}

.es7 img{
    width:330px;
    height:250px;
}
.top{
    padding-top:50px;
}