.top{
    font-size: 15px;
    /* justify-content: space-between; */
    text-align: center;

    position:fixed;
    display: block;
    z-index: 3;
    font-weight: bold;

    background-color: aliceblue;
    width: 100%;
    height:30px;

    padding-top:20px;
}
.top_list{
   padding: 10px;
}
/*  */

.text{
    background-color: rgba(255, 166, 0, 0.26);
    text-align: center;
    font-weight: bold;

 

    padding-top:100px;
    padding-bottom:50px;
}
.text1{
    line-height: 30px;
}


@media screen and (min-width:768px){
.deck_box{
display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: blueviolet;
  width:100%;
}

.deck img{
    width:350px;
    height:400px;
    margin-top: 100px;
    /* margin-left:100px; */
    /* margin-right:100px; */
}}

@media screen and (max-width:768px){

.deck_box{
      
          text-align: center;
          justify-content: space-between;
          background-color: blueviolet;
          width:100%;
        }
        
.deck img{
            width:350px;
            height:400px;
            margin-left:10px;
         
            margin-top:100px;
        }}


/*  */

.last{
    line-height: 30px;
    font-weight: bold;
 background-color: antiquewhite;  
   
}
/*  */


h1{
    font-size: 20px;
    padding-bottom:20px;
   
}

.title{
    background-color:gainsboro;
     padding-top:30px;
     padding-bottom:30px;
}
table {
   
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    text-align: center;
padding:10px;
    background-color:skyblue;
  }
  td {
    margin-left:5px;
    margin-right:5px;
   
    
    padding:20px;
    border: 2px solid #333;
  }
  table tr td:nth-of-type(1){
    background-color:rgb(179, 132, 222);
}
  table tr td:nth-of-type(2){
    background-color:aqua;
  }
/*  */
table tr:nth-child(4) td:nth-child(3) {
	color: #96001c;
	background-color: #ffcfd8;
}
table tr:nth-child(5) td:nth-child(3) {
	color: #96001c;
	background-color: #ffcfd8;
}
table tr:nth-child(7) td:nth-child(3) {
	color: #96001c;
	background-color: #ffcfd8;
}
table tr:nth-child(9) td:nth-child(3) {
	color: #96001c;
	background-color: #ffcfd8;
}
table tr:nth-child(10) td:nth-child(3) {
        color: #96001c;
        background-color: #ffcfd8;
    }
    

.green{
    color:green;
    font-size: 120%;
}
.gold{
    color:rgb(151, 130, 14);
    font-size: 120%;
}
.diamond{
    color:#bc1d3a;
    font-size: 120%
}
.violet{
    color:rgba(170, 8, 170, 0.795);
    font-size:120%;
}
.last{
    padding-left: 10px;
    padding-right:10px;
}
.text2{
    padding-top:10px;
}
.text3{
    padding-top:20px;
}
.text4{
    padding-top:20px;
}
.text5{
    padding-top:20px;
    padding-bottom:20px;
     margin-top:50px;
     
}
.cursol{
    padding-top:40px;
}
.next img{
    width:130px;
    height: 60px;
    padding-left:40px;
}
.bottom{
    
    padding:10px;
    background-color: #333;
    color:white;
}


.copy{
   
    background-color: #000;
    color:white;
    padding:10px;
  }

/*  */

@media screen and (min-width: 768px) {
    .bottom_list{
      background-color:black;
      border-top: solid 2px #5989cf;
      border-bottom: solid 5px #5989cf;
      display: flex;
        justify-content: center;
    
    }
    
    .bottom_list img{
      width:50px;
      height:50px;
      margin:10px;
     
    }}
    /*  */
    
    
    @media screen and (max-width: 768px) {
      .bottom_list{
        background-color:black;
        border-top: solid 2px #5989cf;
        border-bottom: solid 5px #5989cf;
       
        display: flex;
        flex-wrap: wrap;
      }
      
      .bottom_list img{
        width:50px;
        height:50px;
        margin:30px;
       
      
    }}